@page "/offers/chat/{id:int}"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h2>Chat</h2>

<a href="/chats/createMessage/@id" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Chat
</a>
<br />
<br />

@if (Chats == null)
{
    <div class="alert alert-info">Loading Chats...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Interaction</th>
                <th>Sender</th>
                <th>Message</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chat in Chats)
            {
                if (@chat.OfferID == id)
                {
                    <tr>
                        <td>@chat.Offer.Sender.Name - @chat.Offer.Receiver.Name</td>
                        <td>@chat.MessageUser</td>
                        <td>@chat.MessageText</td>
                        <td>@chat.ChatTimeStamp</td>
                        <td>
                            <a href=" /chats/view/@chat.Id" class=" btn btn-primary">
                                <span class="oi oi-book"></span>
                            </a>
                            <a href=" /chats/edit/@chat.Id" class=" btn btn-warning">
                                <span class="oi oi-pencil"></span>
                            </a>
                            <button class="btn btn-danger" @onclick="@(() => Delete(chat.Id))">
                                <span class="oi oi-delete"></span>
                            </button>
                        </td>
                    </tr>
                }

            }

        </tbody>
    </table>
}

@code {
    [Parameter] public int id { get; set; }
    private List<Offer> Offers;
    private List<Chat> Chats;

    protected async override Task OnInitializedAsync()
    {
        Chats = await _client.GetFromJsonAsync<List<Chat>>($"{Endpoints.ChatsEndpoint}");
    }

    async Task Delete(int chatId)
    {
        var chat = Chats.First(q => q.Id == chatId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {chat.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.ChatsEndpoint}/{chatId}");
            await OnInitializedAsync();
        }
    }

}