@*EditForm Model="@offer" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
        <fieldset disabled="@Disabled" >
    <div class="form-group">
        <label>Sender:</label>
        <div>
            <InputText @bind-Value="@offer.Sender" class="form-control" />
            <ValidationMessage For="@(() => offer.Sender)" />
        </div>

        <label>Receiver:</label>
        <div>
                <InputNumber @bind-Value="@offer.Receiver" class="form-control" />
                <ValidationMessage For="@(() => offer.Receiver)" />
    </div>
    </fieldset>
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
    </button>
    }
    <BackToList Target="offers" />
</EditForm>
@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Offer? offer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

 
}*@

